@import './common.scss';
@import './variable.scss';

#abt{
    padding: 25px 0;
    .back{
        padding: 30px 0 45px 0;
        color: $gray;
        display: flex;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color: $white;
        }
        span{
            display: inline-block;
            margin-left: 10px;
        }
    }
    .about-me-wrap{
        display: flex;
        flex-flow: row wrap;
    }
    
    .image-wrap {
        width: 200px;
        padding: 0 75px 0 0;
        .image {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            margin: 0 auto;
          }
    }

    .desc-wrap{
        flex:1;
        h3{
            color: $gray;
            margin-top: 5px;
        }
        h1{
            margin: 0;
            span{
                color: $yellow;
                font-weight: 100;
            }
            font-weight: 500;
            color: $lightGray;
        }
        p{
            color: $lightGray;
            font-size: 20px;
            line-height: 32px;
            text-align:justify;
        }
    }
    .title-wrap{
        width: 100%;
        position: relative;
        border-top: 1px solid $white;
        height: 45px;
        margin-top: 65px;
        h1{
            position: absolute;
            color: $yellow;
            display: inline;
            background-color: $background;
            position: absolute;
            top: -42px;
            padding: 0 26px 0 0;
        }
    }

    .information-wrap{
        display: flex;
        flex:1;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        .item{
            display: flex;
            color: $yellow;
            text-decoration: none;
            span{
                margin-left: 10px;
                color: $heavyWhite;
            }
        }
    }
    .exprience {
        border-left: 1px solid $lightGray;
        padding-left: 15px;
        position: relative;
        padding-bottom: 25px;
        h2{
            color: $heavyWhite;
            margin:0;
            span{
                color: $yellow;
                font-size: 13px;
                font-weight: 100;
            }
            &::before{
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                left: -6px;
                top: 9px;
                background-color: $lightGray;
                border-radius: 100%;
            }
        }

        h3{
            color: $heavyWhite;
            margin: 10px 0;
            font-weight: 200;
            >span{
                margin-left: 15px;
                font-size: 13px;
                color: $yellow;
            }
        }
        h4{
            color: $heavyWhite;
            margin:10px 0;
            font-weight: 100;
        }
        ul{
            color: $heavyWhite;
            li{
                margin-bottom: 15px;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    .skill {
        display: flex;
        flex-flow: row wrap;
    }
    .skill-box{
        width: $maxWidth / 3 - 40px;
        min-height: 80px;
        padding: 15px;
        >h3{
            color: $yellow;
            padding-left: 8px;
            font-weight: 600;
            position: relative;
            >span{
                font-Size: 14px;
                color: $heavyWhite;
                font-weight: 100;

            }
             &::before{
                content:'';
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: $white;
                position: absolute;
                left: -8px;
                top: 6px;
            }
        }
        >span{
            color: $heavyWhite;
            font-size: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
            display: inline-block;
            line-height: 35px;
        }
    }

    .education{
        h2,h4,h5 {
            margin: 10px 0;
            color: $heavyWhite;
        }
        h4,h5{
            >span{
                color: $yellow;
            }
            font-weight: 100;
            color: $gray;
        }
    }

    .social-network{
        display: flex;
        flex:1;
        flex-flow:row wrap;
        justify-content: space-evenly;
        padding-bottom: 45px;
        a{
            text-decoration: none;
            color: $gray;
            font-size: 32px;
            margin-right: 15px;
            &:hover{
                color: $yellow
            }
        }
    }
}