@import "./common.scss";
.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intru-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: "row";
  width: 100%;
  max-width: 1100px;
  max-height: 674px;
  border: 3px solid green;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-wrap {
  width: 150px;
  padding: 0 75px 0 150px;
}

.title-wrap {
  padding: 0;
  flex: 1 1 auto;
  .title h1 {
    font-size: 65px;
    margin: 0;
    line-height: 63px;
    color: #e0a80d;
    font-weight: 600;
  }
  .title .name{
    color: #a4a5a6;
      font-weight: 200;
  }
  .title h2 {
      font-size: 24px;
      margin-top: 25px;
      color: gray;
      font-weight: 100;
  }
}
.social-media{
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.image {
  background-color: yellow;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 0 auto;
}
